In [2]:
import pandas as pd

In [7]:
gg = pd.read_json('gg2013.json', orient='records')
gg1 = pd.read_json('gg2015.json', orient='records')

In [8]:
def getUser(x):
    return x['screen_name']
def getID(x):
    return x['id']
def removeHashTags(x):
    
gg['userid'] = gg['user'].apply(lambda x: getID(x))
gg['username'] = gg['user'].apply(lambda x: getUser(x))

gg['text'] = gg['text'].str.lower()

In [9]:
gg.head()

,text,user,id,timestamp_ms,userid,username
0,jlo's dress! #eredcarpet #goldenglobes,"{'screen_name': 'Dozaaa_xo', 'id': 557374298}",290620657987887104,2013-01-14 00:45:38,557374298,Dozaaa_xo
1,what's making sofia vergara's boobs stay like ...,"{'screen_name': 'theAmberShow', 'id': 14648726}",290620657887219713,2013-01-14 00:45:38,14648726,theAmberShow
2,rt @fabsugar: kerry washington is everything. ...,"{'screen_name': 'SweetyPW', 'id': 35498686}",290620657828524032,2013-01-14 00:45:38,35498686,SweetyPW
3,anne hathaway has got me living. #goldenglobes,"{'screen_name': '_NicoleEdwards', 'id': 144430...",290620657799159809,2013-01-14 00:45:38,144430208,_NicoleEdwards
4,jennifer lopez's lace dress? thoughts? #golden...,"{'screen_name': 'lolaogunnaike', 'id': 134953223}",290620657778188288,2013-01-14 00:45:38,134953223,lolaogunnaike

In [10]:
gg1.head()

,text,timestamp_ms,user,id
0,just had to scramble to find a golden globes s...,2015-01-11 22:20:13.011,"{'id': 19904553, 'screen_name': 'baumbaTz'}",554402424728072192
1,RT @ENews: Show us how you're watching the #Go...,2015-01-11 22:25:13.824,"{'id': 85020476, 'screen_name': 'devinaaaprilia'}",554403686428864513
2,@danaKStew @50ShadesWorldcm @ScarletteDrake Al...,2015-01-11 22:25:13.869,"{'id': 1433214326, 'screen_name': 'jamiedornan...",554403686617985024
3,RT @lisarinna: When your husband tells you tha...,2015-01-11 22:25:13.928,"{'id': 505974820, 'screen_name': 'WyAttDoRiAn'}",554403686865440769
4,“@goldenglobes: Creating multiple mini Moët Mo...,2015-01-11 22:25:14.067,"{'id': 146599313, 'screen_name': 'Rascal207'}",554403687448469504